
/*https://codepen.io/littlesnippets/pen/rOBKqq*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.book_figure {
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    text-align: center;
    width:40%;
    max-width:650px;
    cursor:pointer;
}
figure.book_figure * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.book_figure img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.book_figure > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
figure.book_figure > div::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    background-image: linear-gradient(45deg, #000000 0%, transparent 40%, rgba(255, 255, 255, 0.15));
}
figure.book_figure i {
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    padding: 6px 16px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: 0.05s linear;
    transition: 0.05s linear;
    -webkit-transition-delay: 0.01s;
    transition-delay: 0.01s;
}
figure.book_figure .curl {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(225deg, #ffffff, #f3f3f3 20%, #bbbbbb 38%, #aaaaaa 44%, #888888 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.3));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
}
figure.book_figure .curl:before,
figure.book_figure .curl:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12%;
    bottom: 6%;
    width: 70%;
    height: 55%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    transform: skew(-10deg) rotate(-6deg);
}
figure.book_figure .curl:after {
    left: auto;
    right: 6%;
    bottom: auto;
    top: 14%;
    transform: skew(-15deg) rotate(-84deg);
}
figure.book_figure a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}
figure.book_figure:hover > div::before,
figure.book_figure.hover > div::before {
    opacity: 1;
}
figure.book_figure:hover i,
figure.book_figure.hover i {
    opacity: 0.7;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
figure.book_figure:hover .curl,
figure.book_figure.hover .curl {
    width: 200px;
    height: 200px;
}

figure.book_figure {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.book_img {
    width: 100%;
    display: none;
}