body {
    font-family: bubblegumSans;
}

@font-face {
    font-family: bubblegumSans;
    src: url(../fonts/BubblegumSans-Regular.ttf);
}

.card{
    cursor:pointer;
}

.carousel-item > img {
    width: 90%;
    height: auto;
}