.particle {
    position: absolute;
    border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
    100% {
        -webkit-transform: translate3d(44vw, 29vh, 95px);
        transform: translate3d(44vw, 29vh, 95px);
    }
}

@keyframes particle-animation-1 {
    100% {
        -webkit-transform: translate3d(44vw, 29vh, 95px);
        transform: translate3d(44vw, 29vh, 95px);
    }
}
.particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
    animation: particle-animation-1 60s infinite;
    opacity: 0.66;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    -webkit-transform: translate3d(58vw, 16vh, 56px);
    transform: translate3d(58vw, 16vh, 56px);
    background: #d94d26;
}

@-webkit-keyframes particle-animation-2 {
    100% {
        -webkit-transform: translate3d(15vw, 14vh, 22px);
        transform: translate3d(15vw, 14vh, 22px);
    }
}

@keyframes particle-animation-2 {
    100% {
        -webkit-transform: translate3d(15vw, 14vh, 22px);
        transform: translate3d(15vw, 14vh, 22px);
    }
}
.particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
    animation: particle-animation-2 60s infinite;
    opacity: 0.1;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    -webkit-transform: translate3d(63vw, 58vh, 99px);
    transform: translate3d(63vw, 58vh, 99px);
    background: #d92680;
}

@-webkit-keyframes particle-animation-3 {
    100% {
        -webkit-transform: translate3d(15vw, 28vh, 61px);
        transform: translate3d(15vw, 28vh, 61px);
    }
}

@keyframes particle-animation-3 {
    100% {
        -webkit-transform: translate3d(15vw, 28vh, 61px);
        transform: translate3d(15vw, 28vh, 61px);
    }
}
.particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
    animation: particle-animation-3 60s infinite;
    opacity: 0.45;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    -webkit-transform: translate3d(72vw, 50vh, 14px);
    transform: translate3d(72vw, 50vh, 14px);
    background: #d98226;
}

@-webkit-keyframes particle-animation-4 {
    100% {
        -webkit-transform: translate3d(50vw, 3vh, 72px);
        transform: translate3d(50vw, 3vh, 72px);
    }
}

@keyframes particle-animation-4 {
    100% {
        -webkit-transform: translate3d(50vw, 3vh, 72px);
        transform: translate3d(50vw, 3vh, 72px);
    }
}
.particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
    animation: particle-animation-4 60s infinite;
    opacity: 0.69;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    -webkit-transform: translate3d(77vw, 39vh, 31px);
    transform: translate3d(77vw, 39vh, 31px);
    background: #d9263b;
}

@-webkit-keyframes particle-animation-5 {
    100% {
        -webkit-transform: translate3d(39vw, 15vh, 27px);
        transform: translate3d(39vw, 15vh, 27px);
    }
}

@keyframes particle-animation-5 {
    100% {
        -webkit-transform: translate3d(39vw, 15vh, 27px);
        transform: translate3d(39vw, 15vh, 27px);
    }
}
.particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
    animation: particle-animation-5 60s infinite;
    opacity: 0.04;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: translate3d(56vw, 33vh, 34px);
    transform: translate3d(56vw, 33vh, 34px);
    background: #26d982;
}

@-webkit-keyframes particle-animation-6 {
    100% {
        -webkit-transform: translate3d(9vw, 55vh, 92px);
        transform: translate3d(9vw, 55vh, 92px);
    }
}

@keyframes particle-animation-6 {
    100% {
        -webkit-transform: translate3d(9vw, 55vh, 92px);
        transform: translate3d(9vw, 55vh, 92px);
    }
}
.particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
    animation: particle-animation-6 60s infinite;
    opacity: 0.97;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    -webkit-transform: translate3d(79vw, 72vh, 15px);
    transform: translate3d(79vw, 72vh, 15px);
    background: #c126d9;
}

@-webkit-keyframes particle-animation-7 {
    100% {
        -webkit-transform: translate3d(90vw, 70vh, 21px);
        transform: translate3d(90vw, 70vh, 21px);
    }
}

@keyframes particle-animation-7 {
    100% {
        -webkit-transform: translate3d(90vw, 70vh, 21px);
        transform: translate3d(90vw, 70vh, 21px);
    }
}
.particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
    animation: particle-animation-7 60s infinite;
    opacity: 0.61;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    -webkit-transform: translate3d(6vw, 69vh, 86px);
    transform: translate3d(6vw, 69vh, 86px);
    background: #269dd9;
}

@-webkit-keyframes particle-animation-8 {
    100% {
        -webkit-transform: translate3d(17vw, 40vh, 26px);
        transform: translate3d(17vw, 40vh, 26px);
    }
}

@keyframes particle-animation-8 {
    100% {
        -webkit-transform: translate3d(17vw, 40vh, 26px);
        transform: translate3d(17vw, 40vh, 26px);
    }
}
.particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
    animation: particle-animation-8 60s infinite;
    opacity: 0.84;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    -webkit-transform: translate3d(53vw, 72vh, 74px);
    transform: translate3d(53vw, 72vh, 74px);
    background: #26d9c7;
}

@-webkit-keyframes particle-animation-9 {
    100% {
        -webkit-transform: translate3d(52vw, 1vh, 35px);
        transform: translate3d(52vw, 1vh, 35px);
    }
}

@keyframes particle-animation-9 {
    100% {
        -webkit-transform: translate3d(52vw, 1vh, 35px);
        transform: translate3d(52vw, 1vh, 35px);
    }
}
.particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
    animation: particle-animation-9 60s infinite;
    opacity: 0.61;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    -webkit-transform: translate3d(53vw, 30vh, 94px);
    transform: translate3d(53vw, 30vh, 94px);
    background: #d9262f;
}

@-webkit-keyframes particle-animation-10 {
    100% {
        -webkit-transform: translate3d(60vw, 16vh, 85px);
        transform: translate3d(60vw, 16vh, 85px);
    }
}

@keyframes particle-animation-10 {
    100% {
        -webkit-transform: translate3d(60vw, 16vh, 85px);
        transform: translate3d(60vw, 16vh, 85px);
    }
}
.particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
    animation: particle-animation-10 60s infinite;
    opacity: 0.93;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-transform: translate3d(17vw, 39vh, 11px);
    transform: translate3d(17vw, 39vh, 11px);
    background: #26d95c;
}

@-webkit-keyframes particle-animation-11 {
    100% {
        -webkit-transform: translate3d(50vw, 58vh, 45px);
        transform: translate3d(50vw, 58vh, 45px);
    }
}

@keyframes particle-animation-11 {
    100% {
        -webkit-transform: translate3d(50vw, 58vh, 45px);
        transform: translate3d(50vw, 58vh, 45px);
    }
}
.particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
    animation: particle-animation-11 60s infinite;
    opacity: 0.09;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    -webkit-transform: translate3d(13vw, 59vh, 80px);
    transform: translate3d(13vw, 59vh, 80px);
    background: #26d9d6;
}

@-webkit-keyframes particle-animation-12 {
    100% {
        -webkit-transform: translate3d(39vw, 8vh, 9px);
        transform: translate3d(39vw, 8vh, 9px);
    }
}

@keyframes particle-animation-12 {
    100% {
        -webkit-transform: translate3d(39vw, 8vh, 9px);
        transform: translate3d(39vw, 8vh, 9px);
    }
}
.particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
    animation: particle-animation-12 60s infinite;
    opacity: 0.97;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    -webkit-transform: translate3d(57vw, 38vh, 8px);
    transform: translate3d(57vw, 38vh, 8px);
    background: #d9d626;
}

@-webkit-keyframes particle-animation-13 {
    100% {
        -webkit-transform: translate3d(62vw, 90vh, 45px);
        transform: translate3d(62vw, 90vh, 45px);
    }
}

@keyframes particle-animation-13 {
    100% {
        -webkit-transform: translate3d(62vw, 90vh, 45px);
        transform: translate3d(62vw, 90vh, 45px);
    }
}
.particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
    animation: particle-animation-13 60s infinite;
    opacity: 0.51;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    -webkit-transform: translate3d(27vw, 42vh, 2px);
    transform: translate3d(27vw, 42vh, 2px);
    background: #3226d9;
}

@-webkit-keyframes particle-animation-14 {
    100% {
        -webkit-transform: translate3d(40vw, 84vh, 56px);
        transform: translate3d(40vw, 84vh, 56px);
    }
}

@keyframes particle-animation-14 {
    100% {
        -webkit-transform: translate3d(40vw, 84vh, 56px);
        transform: translate3d(40vw, 84vh, 56px);
    }
}
.particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
    animation: particle-animation-14 60s infinite;
    opacity: 0.6;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    -webkit-transform: translate3d(61vw, 47vh, 23px);
    transform: translate3d(61vw, 47vh, 23px);
    background: #d97126;
}

@-webkit-keyframes particle-animation-15 {
    100% {
        -webkit-transform: translate3d(14vw, 46vh, 78px);
        transform: translate3d(14vw, 46vh, 78px);
    }
}

@keyframes particle-animation-15 {
    100% {
        -webkit-transform: translate3d(14vw, 46vh, 78px);
        transform: translate3d(14vw, 46vh, 78px);
    }
}
.particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
    animation: particle-animation-15 60s infinite;
    opacity: 0.58;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-transform: translate3d(69vw, 21vh, 94px);
    transform: translate3d(69vw, 21vh, 94px);
    background: #265fd9;
}

@-webkit-keyframes particle-animation-16 {
    100% {
        -webkit-transform: translate3d(28vw, 58vh, 92px);
        transform: translate3d(28vw, 58vh, 92px);
    }
}

@keyframes particle-animation-16 {
    100% {
        -webkit-transform: translate3d(28vw, 58vh, 92px);
        transform: translate3d(28vw, 58vh, 92px);
    }
}
.particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
    animation: particle-animation-16 60s infinite;
    opacity: 0.5;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    -webkit-transform: translate3d(72vw, 49vh, 88px);
    transform: translate3d(72vw, 49vh, 88px);
    background: #d99126;
}

@-webkit-keyframes particle-animation-17 {
    100% {
        -webkit-transform: translate3d(76vw, 30vh, 24px);
        transform: translate3d(76vw, 30vh, 24px);
    }
}

@keyframes particle-animation-17 {
    100% {
        -webkit-transform: translate3d(76vw, 30vh, 24px);
        transform: translate3d(76vw, 30vh, 24px);
    }
}
.particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
    animation: particle-animation-17 60s infinite;
    opacity: 0.12;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    -webkit-transform: translate3d(5vw, 21vh, 86px);
    transform: translate3d(5vw, 21vh, 86px);
    background: #d92656;
}

@-webkit-keyframes particle-animation-18 {
    100% {
        -webkit-transform: translate3d(38vw, 43vh, 65px);
        transform: translate3d(38vw, 43vh, 65px);
    }
}

@keyframes particle-animation-18 {
    100% {
        -webkit-transform: translate3d(38vw, 43vh, 65px);
        transform: translate3d(38vw, 43vh, 65px);
    }
}
.particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
    animation: particle-animation-18 60s infinite;
    opacity: 0.74;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    -webkit-transform: translate3d(10vw, 53vh, 45px);
    transform: translate3d(10vw, 53vh, 45px);
    background: #3ed926;
}

@-webkit-keyframes particle-animation-19 {
    100% {
        -webkit-transform: translate3d(31vw, 8vh, 51px);
        transform: translate3d(31vw, 8vh, 51px);
    }
}

@keyframes particle-animation-19 {
    100% {
        -webkit-transform: translate3d(31vw, 8vh, 51px);
        transform: translate3d(31vw, 8vh, 51px);
    }
}
.particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
    animation: particle-animation-19 60s infinite;
    opacity: 0.16;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    -webkit-transform: translate3d(38vw, 50vh, 11px);
    transform: translate3d(38vw, 50vh, 11px);
    background: #26d9b2;
}

@-webkit-keyframes particle-animation-20 {
    100% {
        -webkit-transform: translate3d(48vw, 23vh, 18px);
        transform: translate3d(48vw, 23vh, 18px);
    }
}

@keyframes particle-animation-20 {
    100% {
        -webkit-transform: translate3d(48vw, 23vh, 18px);
        transform: translate3d(48vw, 23vh, 18px);
    }
}
.particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
    animation: particle-animation-20 60s infinite;
    opacity: 0.81;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-transform: translate3d(32vw, 4vh, 3px);
    transform: translate3d(32vw, 4vh, 3px);
    background: #d9cd26;
}

@-webkit-keyframes particle-animation-21 {
    100% {
        -webkit-transform: translate3d(14vw, 16vh, 43px);
        transform: translate3d(14vw, 16vh, 43px);
    }
}

@keyframes particle-animation-21 {
    100% {
        -webkit-transform: translate3d(14vw, 16vh, 43px);
        transform: translate3d(14vw, 16vh, 43px);
    }
}
.particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
    animation: particle-animation-21 60s infinite;
    opacity: 0.27;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    -webkit-transform: translate3d(74vw, 17vh, 32px);
    transform: translate3d(74vw, 17vh, 32px);
    background: #2c26d9;
}

@-webkit-keyframes particle-animation-22 {
    100% {
        -webkit-transform: translate3d(82vw, 87vh, 36px);
        transform: translate3d(82vw, 87vh, 36px);
    }
}

@keyframes particle-animation-22 {
    100% {
        -webkit-transform: translate3d(82vw, 87vh, 36px);
        transform: translate3d(82vw, 87vh, 36px);
    }
}
.particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
    animation: particle-animation-22 60s infinite;
    opacity: 0.84;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    -webkit-transform: translate3d(63vw, 69vh, 40px);
    transform: translate3d(63vw, 69vh, 40px);
    background: #d92685;
}

@-webkit-keyframes particle-animation-23 {
    100% {
        -webkit-transform: translate3d(3vw, 8vh, 54px);
        transform: translate3d(3vw, 8vh, 54px);
    }
}

@keyframes particle-animation-23 {
    100% {
        -webkit-transform: translate3d(3vw, 8vh, 54px);
        transform: translate3d(3vw, 8vh, 54px);
    }
}
.particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
    animation: particle-animation-23 60s infinite;
    opacity: 0.21;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    -webkit-transform: translate3d(45vw, 33vh, 52px);
    transform: translate3d(45vw, 33vh, 52px);
    background: #26d0d9;
}

@-webkit-keyframes particle-animation-24 {
    100% {
        -webkit-transform: translate3d(64vw, 4vh, 10px);
        transform: translate3d(64vw, 4vh, 10px);
    }
}

@keyframes particle-animation-24 {
    100% {
        -webkit-transform: translate3d(64vw, 4vh, 10px);
        transform: translate3d(64vw, 4vh, 10px);
    }
}
.particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
    animation: particle-animation-24 60s infinite;
    opacity: 0.53;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    -webkit-transform: translate3d(60vw, 16vh, 46px);
    transform: translate3d(60vw, 16vh, 46px);
    background: #d926b5;
}

@-webkit-keyframes particle-animation-25 {
    100% {
        -webkit-transform: translate3d(3vw, 49vh, 6px);
        transform: translate3d(3vw, 49vh, 6px);
    }
}

@keyframes particle-animation-25 {
    100% {
        -webkit-transform: translate3d(3vw, 49vh, 6px);
        transform: translate3d(3vw, 49vh, 6px);
    }
}
.particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
    animation: particle-animation-25 60s infinite;
    opacity: 0.26;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-transform: translate3d(20vw, 16vh, 96px);
    transform: translate3d(20vw, 16vh, 96px);
    background: #3e26d9;
}

@-webkit-keyframes particle-animation-26 {
    100% {
        -webkit-transform: translate3d(2vw, 25vh, 54px);
        transform: translate3d(2vw, 25vh, 54px);
    }
}

@keyframes particle-animation-26 {
    100% {
        -webkit-transform: translate3d(2vw, 25vh, 54px);
        transform: translate3d(2vw, 25vh, 54px);
    }
}
.particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
    animation: particle-animation-26 60s infinite;
    opacity: 0.32;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    -webkit-transform: translate3d(26vw, 33vh, 64px);
    transform: translate3d(26vw, 33vh, 64px);
    background: #d926a9;
}

@-webkit-keyframes particle-animation-27 {
    100% {
        -webkit-transform: translate3d(4vw, 36vh, 94px);
        transform: translate3d(4vw, 36vh, 94px);
    }
}

@keyframes particle-animation-27 {
    100% {
        -webkit-transform: translate3d(4vw, 36vh, 94px);
        transform: translate3d(4vw, 36vh, 94px);
    }
}
.particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
    animation: particle-animation-27 60s infinite;
    opacity: 0.43;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    -webkit-transform: translate3d(32vw, 57vh, 64px);
    transform: translate3d(32vw, 57vh, 64px);
    background: #26d95f;
}

@-webkit-keyframes particle-animation-28 {
    100% {
        -webkit-transform: translate3d(24vw, 37vh, 88px);
        transform: translate3d(24vw, 37vh, 88px);
    }
}

@keyframes particle-animation-28 {
    100% {
        -webkit-transform: translate3d(24vw, 37vh, 88px);
        transform: translate3d(24vw, 37vh, 88px);
    }
}
.particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
    animation: particle-animation-28 60s infinite;
    opacity: 0.08;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    -webkit-transform: translate3d(38vw, 1vh, 30px);
    transform: translate3d(38vw, 1vh, 30px);
    background: #d926ac;
}

@-webkit-keyframes particle-animation-29 {
    100% {
        -webkit-transform: translate3d(6vw, 38vh, 47px);
        transform: translate3d(6vw, 38vh, 47px);
    }
}

@keyframes particle-animation-29 {
    100% {
        -webkit-transform: translate3d(6vw, 38vh, 47px);
        transform: translate3d(6vw, 38vh, 47px);
    }
}
.particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
    animation: particle-animation-29 60s infinite;
    opacity: 0.53;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    -webkit-transform: translate3d(31vw, 6vh, 79px);
    transform: translate3d(31vw, 6vh, 79px);
    background: #26d6d9;
}

@-webkit-keyframes particle-animation-30 {
    100% {
        -webkit-transform: translate3d(59vw, 53vh, 21px);
        transform: translate3d(59vw, 53vh, 21px);
    }
}

@keyframes particle-animation-30 {
    100% {
        -webkit-transform: translate3d(59vw, 53vh, 21px);
        transform: translate3d(59vw, 53vh, 21px);
    }
}
.particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
    animation: particle-animation-30 60s infinite;
    opacity: 0.65;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    -webkit-transform: translate3d(1vw, 44vh, 45px);
    transform: translate3d(1vw, 44vh, 45px);
    background: #6bd926;
}
